@model GuitarDairy.UI.Web.ViewModels.MonthSummaryViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Month</h1>
    <p>Total exercise time = @Model.TotalTimeSpent.ToString()</p>
</div>

@foreach (var item in Model.DaySummaries)
{
    <div class="box">
        <p>@item.Date</p>
    </div>
}