@model GuitarDairy.UI.Web.ViewModels.MonthSummaryViewModel;
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Calendar.css" />
}

<div class="text-center">
    <h1 class="display-4">@Model.Month</h1>
    <p>Total exercise time = @Html.DisplayFor(x => x.TotalTimeSpent, "UserFriendlyTimeSpan")</p>
</div>

@await Component.InvokeAsync("Calendar", Model)
