.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-auto-rows: 100px;
    padding: 10px;
}

.calendar-item {
    border: 1px solid;
    padding: 5px;
    text-align: left;
    background-color: aliceblue;
}
