.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 10px;
}

.grid-item {
    border: 1px solid;
    padding: 5px;
    text-align: left;
}
